@font-face {
  font-family: $avenirheavy;
  src: url(./webfonts/Avenir/Avenir-Heavy.ttf);
}

@font-face {
  font-family: $avenirmedium;
  src: url(./webfonts/Avenir/Avenir-Medium.ttf);
}

@font-face {
  font-family: $sanfranciscotext;
  src: url(./webfonts/Avenir/SFProDisplay-Medium.ttf);
}

