@import './categories.scss';
@import './list.scss';
@import './add-record-class.scss';
@import './view.scss';
@import './edit.scss';
@import './moves-list.scss';

.classes {
}

.recorded_class_thumbnail {
  cursor: pointer;

  .block__photo {
    background-color: $kimberly;
    position: relative;
    border-radius: 8px;

    .photo {
      width: inherit;
      height: inherit;
      overflow: hidden;
      position: relative;
      background-size: cover;
      background-position: center;
      border-radius: 8px;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25%;
      height: 25%;
      color: $martinique;
    }

    .icon {
      position: absolute;
      bottom: 5px;
      right: 0;
    }

    .delete-photo {
      display: none;
      opacity: 0;
    }

    .fa-trash {
      position: absolute;
      bottom: 5px;
      right: 0;
      cursor: pointer;
      font-size: 25px;
    }

    &:hover {
      .delete-photo {
        display: block;
        opacity: 0.7;
      }
    }
  }
}