.moves__title {
  align-self: center;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 55px;

  .moves__title__text {
    @include font($avenirmedium, 20px, 600);
  }
}

.moves {
  display: flex;
  width: 95%;
  flex-wrap: wrap;

  .move {
    display: flex;
    align-items: center;
    width: 345px;
    justify-content: space-between;
    padding-right: 25px;
    height: fit-content;
    margin-top: 30px;

    .change-video-wrap {
      position: absolute;
      left: 30%;
      top: 3%;
      font-size: 70px;
      cursor: pointer;
      color: $mobster;
    }

    #addNewMove {
      .block__video {
        background-color: $martinique;
      }

      .change-video {
        display: none;
      }
    }

    .moves__video__wrap {
      position: relative;

      .moves__photo {
        border-radius: 0;

        .block__video {
          border-radius: 10px !important;
          background-color: $martinique;

          .video {
            border-radius: 10px !important;
            background-color: $martinique;

            .video_icon {
              width: 30%;
              height: 30%;
              left: 35%;
              top: 35%;
              position: absolute;
              cursor: pointer;
            }
          }

          .fa-camera {
            color: white;
            top: 20%;
            left: 80%;
          }
        }
      }

      .delete_video_icon {
        position: absolute;
        right: -10px;
        bottom: -10px;
        cursor: pointer;
      }
    }

    .move__title {
      width: 212px;
      height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: flex-start;

      &.view {
        width: 212px;
        height: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;

        .move__title__label {
          width: fit-content;
          height: 15px;
          color: $white;
          @include font($helvetica, 16px, 500);
        }
      }

      .move__title__label {
        width: 68px;
        height: 15px;
        color: $kimberly;
        @include font($sanfranciscotext, 13px, 500);
      }

      .move__title__input {
        border: 1px solid $jacarta;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: transparent;
        color: $white;
        width: 212px;
        height: 45px;
        padding-left: 15px;
        @include font($helvetica, 16px, 500);
      }
    }
  }
}